<div class="row">
  <div class="col-12 mb-1 pt-1 pb-1 d-flex justify-content-between">
    <app-data-cell [data]="dataRow" [key]="'id'">
    </app-data-cell>

    <app-data-cell [data]="dataRow" [key]="'id'">
    </app-data-cell>

    <app-data-cell [data]="dataRow" [key]="'id'">
    </app-data-cell>

    <app-data-cell [data]="dataRow" [key]="'id'">
    </app-data-cell>

    <app-data-cell [data]="dataRow" [key]="'id'">
    </app-data-cell>

    <app-action-button-group (selectClick)="onSelectClicked()" (updateClick)="onUpdateClicked()"
      (deleteClick)="onDeleteClicked()"></app-action-button-group>

  </div>
</div>
